/*-- scss:defaults --*/
$theme-black: #4c4c4c;
$theme-white: white;
$theme-grey: #FAFAFA;
$theme-beige: #FFFEF2;
$theme-purple0: #FFF0F5;
$theme-purple1: #E6E6FA;
$theme-purple2: #CBC3E3;
$theme-purple3: #88398A;
$theme-purple4: #9d709e;
$theme-purple5: #562457;


$body-bg: $theme-white;
$body-color: $theme-black; // text color
$headings-color: $theme-purple5; // applies to all 
$link-color: $theme-purple4;

// code
$code-color: #88398A;
$code-bg: $theme-grey;
$code-block-bg-alpha: -0.5;
$code-block-border-left: TRUE;
$code-block-border-left-style: solid;

// navigation
$navbar-bg: $theme-purple3;

// callout block
$callout-color-note: $theme-purple3;
$callout-color-tip: $theme-purple3;
